body {
	color: white;
	background: url('moon-landing-60582_1280.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
	color: white;
}
.mdl-textfield__label {
	color: rgba(255, 255, 255, 0.7);
}
.mdl-textfield__input {
	border: none;
	border-bottom: 1px solid rgba(255,255,255, 0.8);
}

pre {
	color: greenyellow;
	font-family: Hack, Arial;
	font-weight: 800;
	text-shadow: 1px 2px 2px #000;
}
