#load-screen {
	background: transparent;
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	width: 100%;
	height: 1600px;
}

#loading {
	width: 65px;
	height: 65px;
	background: url(../images/loader.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 69px;
	right: 25px;
}
